@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h3>Add a new Animal</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add a new furry friend"/>
}

<p>@Html.ActionLink("Show all animals", "Index")</p>